@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
::-webkit-scrollbar {
  width: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  background-color: #1C1C1C;
  color: #FFFFFF; }
  body a {
    color: #FFFFFF; }

._container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; }

._button:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  transition: all 0.3s ease 0s; }
._button:hover, ._button:focus, ._button:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

._ibg {
  position: relative; }

.header {
  position: relative;
  z-index: 2;
  padding-bottom: 32px; }
  @media (max-width: 722px) {
    .header {
      padding-bottom: 0; } }

.page__download {
  background-color: #312F30; }
  @media (min-width: 1px) {
    .page__download {
      margin-bottom: 30px; } }
  @media (min-width: 1200px) {
    .page__download {
      margin-bottom: 125px; } }

.header__container {
  justify-content: space-between;
  display: flex;
  padding-top: 22px;
  align-items: center;
  flex-wrap: wrap; }

.header__logo {
  display: flex; }

.nav__list {
  gap: 28px;
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 997px) {
    .nav__list {
      padding-left: 60px; } }

.nav__link {
  font-weight: 400;
  font-size: 15px;
  opacity: 0.7; }
  .nav__link:hover {
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    opacity: 100%; }

.header__btn {
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  background-color: #F6762C;
  padding: 15px 37px;
  align-items: center; }
  @media (max-width: 722px) {
    .header__btn {
      flex: 0 1 100%;
      text-align: center;
      margin-top: 6px; } }

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px; }

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #FAF6F2; }

.open {
  display: flex !important; }

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #FAF6F2;
  transition: all 0.3s ease 0s; }

.burger::before {
  top: 0; }

.burger::after {
  bottom: 0; }

/* Добавляем класс active для анимации иконки бургера */
.burger.active span {
  transform: scale(0); }

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%); }

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%); }

/* При разрешении экрана 900px и ниже, выводим на экран иконку бургера */
@media (max-width: 569px) {
  .burger {
    display: flex; }

  .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 50%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    background-color: #706c6c;
    animation: burgerAnimation 0.4s; }

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 50px; } }
@keyframes burgerAnimation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fastfood {
  margin-top: -100px;
  background-image: url("../img/fastfood/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 240px 0; }
  @media (max-width: 722px) {
    .fastfood {
      margin-top: -150px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/fastfood/background.jpg"); } }

@media (min-width: 1px) {
  .fastfood__container {
    margin-top: 90px; } }
@media (min-width: 723px) {
  .fastfood__container {
    margin-top: 0px; } }
@media (min-width: 1300px) {
  .fastfood__container {
    margin-top: 150px; } }

.fastfood__body {
  max-width: 550px; }
  .fastfood__body .fastfood__subtitle {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 7px; }
    @media (max-width: 722px) {
      .fastfood__body .fastfood__subtitle {
        margin-bottom: 10px; } }
  .fastfood__body .fastfood__title {
    font-weight: 500;
    font-size: 57px;
    margin-bottom: 37px; }
    @media (max-width: 722px) {
      .fastfood__body .fastfood__title {
        margin-bottom: 15px;
        font-size: 36px; } }
  .fastfood__body .fastfood__text {
    font-weight: 400;
    font-size: 18px;
    opacity: 0.7;
    margin-bottom: 42px; }
    @media (max-width: 722px) {
      .fastfood__body .fastfood__text {
        margin-bottom: 25px;
        opacity: 100%;
        font-size: 14px; } }
    @media (min-width: 722px) {
      .fastfood__body .fastfood__text {
        margin-bottom: 25px;
        opacity: 100%; } }

.fastfood__btn {
  display: inline-flex;
  min-height: 49px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 36px;
  border-radius: 5px;
  background-color: #F6762C; }

@media (min-width: 1px) {
  .menu__container {
    padding-top: 90px; } }
@media (min-width: 1200px) {
  .menu__container {
    padding: 115px 0px; } }

.menu__items {
  display: flex; }
  @media (min-width: 1px) {
    .menu__items {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      align-items: center; } }
  @media (min-width: 1200px) {
    .menu__items {
      display: block;
      display: flex;
      flex-wrap: nowrap;
      gap: 0;
      justify-content: flex-start;
      align-items: flex-start; }
      .menu__items:not(:last-child) {
        margin-right: 15px; } }

.menu__item {
  min-height: 323px;
  background: #312f30;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center; }
  @media (min-width: 1200px) {
    .menu__item:not(:last-child) {
      margin-right: 15px; } }
  .menu__item .menu__body .menu__title {
    font-weight: 500;
    font-size: 20px;
    margin-top: 28px;
    margin-bottom: 13px; }
  .menu__item .menu__body .menu__text {
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7; }

.bur {
  margin-top: 102px;
  padding-bottom: 53px;
  background-color: #312F30; }
  @media (max-width: 620px) {
    .bur {
      margin: 30px 0px; } }

.burger__container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between; }
  @media (min-width: 1px) {
    .burger__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; } }
  @media (min-width: 1200px) {
    .burger__container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; } }
  @media (min-width: 870px) {
    .burger__container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; } }
  .burger__container .burger__img {
    max-width: 470px;
    padding-top: 70px; }
    @media (min-width: 870px) {
      .burger__container .burger__img {
        padding-right: 20px; } }

.burger__body {
  justify-content: center;
  display: flex;
  flex-direction: column; }
  @media (min-width: 870px) {
    .burger__body {
      display: flex;
      justify-content: start;
      align-items: start;
      padding-left: -20px; } }
  @media (max-width: 576px) {
    .burger__body {
      display: flex;
      align-items: center;
      justify-content: center; } }
  @media (min-width: 576px) {
    .burger__body {
      display: flex;
      align-items: center;
      justify-content: center; } }
  .burger__body .burger__title {
    font-weight: 500;
    font-size: 44px;
    padding-bottom: 24px; }
  .burger__body .burger__text {
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    padding-bottom: 13px;
    width: 368px; }
  .burger__body .burger__prices {
    display: flex; }
  .burger__body .burger__price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #f6762c;
    padding-bottom: 11px; }
    .burger__body .burger__price:not(:last-child) {
      padding-right: 6px; }
  .burger__body .burger__low {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 16px;
    text-decoration: line-through; }
  .burger__body .burger__btn {
    width: 165px;
    height: 49px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    padding: 15px 36px;
    background-color: #F6762C; }
    @media (max-width: 576px) {
      .burger__body .burger__btn {
        display: flex;
        align-items: center;
        justify-content: center; } }

@media (min-width: 1px) {
  .eat {
    padding: 30px 0; } }
@media (min-width: 600px) {
  .eat {
    padding: 150px 0px; } }

.eat__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 1px) {
    .eat__items {
      gap: 15px; } }
  @media (min-width: 529px) {
    .eat__items {
      gap: 30px; } }

@media (max-width: 500px) {
  .eat__body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; } }

.eat__item {
  display: flex;
  flex-direction: column;
  width: 555px;
  min-height: 300px;
  background-image: url("../img/eat/coffe.svg");
  position: relative;
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 600px) {
    .eat__item {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column; } }
  @media (max-width: 600px) {
    .eat__item {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/eat/coffe.svg"); } }

.eat__pizza {
  background-image: url("../img/eat/pizza.svg");
  background-size: cover; }
  @media (max-width: 600px) {
    .eat__pizza {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/eat/pizza.svg"); } }

.eat__burger {
  background-image: url("../img/eat/burger.svg");
  background-size: cover; }
  @media (max-width: 600px) {
    .eat__burger {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/eat/burger.svg"); } }

.eat__shava {
  background-image: url("../img/eat/shava.svg");
  background-size: cover; }
  @media (max-width: 600px) {
    .eat__shava {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/eat/shava.svg"); } }

.eat__body__left {
  padding: 62px 0px 62px 290px; }
  @media (max-width: 600px) {
    .eat__body__left {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column; } }

.eat__body__right {
  padding: 63px 253px 63px 50px; }
  @media (max-width: 600px) {
    .eat__body__right {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column; } }

.eat__title {
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 20px; }

.eat__text {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  padding-bottom: 11px; }
  @media (max-width: 600px) {
    .eat__text {
      opacity: 100%; } }

.eat__btn {
  border-radius: 5px;
  padding: 13px 36px;
  background-color: #F6762C;
  width: 141px;
  font-weight: 500;
  font-size: 12px; }

.eat__prices {
  display: flex;
  padding-bottom: 11px; }
  .eat__prices .eat__price {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #f6762c; }
    .eat__prices .eat__price:not(:last-child) {
      padding-right: 10px; }
  .eat__prices .eat__price-end {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: line-through;
    opacity: 0.5; }

.download__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 61px 93px; }
  @media (max-width: 620px) {
    .download__form {
      display: flex;
      padding: 61px 0px;
      flex-direction: column;
      justify-content: center; } }
  .download__form .download__title {
    font-weight: 500;
    font-size: 40px; }
    @media (max-width: 839px) {
      .download__form .download__title {
        font-size: 24px; } }
    @media (max-width: 620px) {
      .download__form .download__title {
        padding-bottom: 20px; } }
  .download__form .download__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 49px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    padding: 15px 39px;
    background-color: #f6762c;
    font-weight: 500;
    font-size: 16px; }

.footer a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 12px;
  cursor: default; }
.footer .footer__title {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding-bottom: 15px;
  cursor: default; }

.footer__container {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1200px) {
    .footer__container {
      padding: 120px 0px;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-areas: "contacts nav socials"; } }
  @media (min-width: 1px) {
    .footer__container {
      padding: 30px 0px; } }
  .footer__container .footer__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  .footer__container .footer__contacts {
    grid-area: contacts;
    display: flex;
    align-items: flex-start;
    gap: 9px;
    flex-direction: column; }
    @media (max-width: 1199px) {
      .footer__container .footer__contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 15px;
        padding-bottom: 30px; } }
    @media (min-width: 1200px) {
      .footer__container .footer__contacts {
        padding-left: 0px;
        padding-bottom: 0px; } }
  .footer__container .footer__nav {
    grid-area: nav; }
    @media (min-width: 1px) {
      .footer__container .footer__nav {
        padding-left: 15px;
        padding-bottom: 30px; } }
    @media (min-width: 1200px) {
      .footer__container .footer__nav {
        padding-left: 0px;
        padding-bottom: 0px; } }
  .footer__container .footer__socials {
    grid-area: socials; }
    @media (max-width: 1199px) {
      .footer__container .footer__socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 15px; } }
    @media (min-width: 1200px) {
      .footer__container .footer__socials {
        padding-left: 0px; } }

.footer__link-mail::before {
  content: url("../img/social/mail/1.svg");
  margin-right: 10px;
  width: 12px;
  height: 12px; }

.footer__link-mail-two::before {
  content: url("../img/social/mail/2.svg");
  margin-right: 10px;
  width: 12px;
  height: 12px; }

.footer__logo {
  padding-bottom: 21px; }

.footer__socials-icons {
  display: flex;
  gap: 10px; }

.footer__list-item:not(:first-child) {
  padding-top: 15px; }

/*# sourceMappingURL=style.css.map */
